name: Minecraft Server

on:
  workflow_dispatch:

jobs:
  Minecraft_Server:
    runs-on: ubuntu-24.04
    timeout-minutes: 3600

    steps:
      - name: 更新 APT
        run: sudo apt-get update
        
      - name: 安装 JAVA
        run: sudo apt install default-jre
      
      - name: 检验 JAVA 是否安装
        run: java -version
      
      - name: 安装 Tailscale
        run: curl -fsSL https://tailscale.com/install.sh | sh

      - name: 运行 tailscaled
        run: |
          sudo mkdir -p /var/run
          nohup sudo tailscaled >/tmp/tailscaled.log 2>&1 & disown
          sleep 3

      - name: 链接到 Tailscale
        run: |     
          sudo tailscale up --authkey=${{ secrets.TAILSCALE_AUTH_KEY }} --hostname=gh-runner-${GITHUB_RUN_ID}
          echo "TAILSCALE_IP=$(tailscale ip -4)" >> "$GITHUB_ENV"

      - name: 包活
        run: |
          echo "=== IP ==="
          echo "IP地址: ${TAILSCALE_IP}"
          echo "=============================="
          while true; do
            sleep 300
          done
