name: Minecraft Server

on:
  workflow_dispatch:

jobs:
  Minecraft_Server:
    runs-on: ubuntu-24.04
    timeout-minutes: 3600

    steps:
      - name: 更新 APT
        run: sudo apt-get update
        
      - name: 安装 JAVA
        run: sudo apt install openjdk-21-jdk
      
      - name: 检验 JAVA 是否安装
        run: java -version
      
      - name: 安装 Tailscale
        run: curl -fsSL https://tailscale.com/install.sh | sh

      - name: 运行 Tailscaled
        run: |
          sudo mkdir -p /var/run
          nohup sudo tailscaled >/tmp/tailscaled.log 2>&1 & disown
          sleep 3

      - name: 链接到 Tailscale
        run: |     
          sudo tailscale up --authkey=${{ secrets.TAILSCALE_AUTH_KEY }} --hostname=gh-runner-${GITHUB_RUN_ID}
          echo "TAILSCALE_IP=$(tailscale ip -4)" >> "$GITHUB_ENV"

      - name: 下载 eula.txt
        run: wget https://github.com/Minecraft-LZD15/Minecraft-Server/releases/download/eula/eula.txt

      - name: 下载 server.jar
        run: wget https://piston-data.mojang.com/v1/objects/f69c284232d7c7580bd89a5a4931c3581eae1378/server.jar

      - name: 运行 server.jar
        run: java -Xmx1024M -Xms1024M -jar server.jar nogui
